$prime-color: rgb(255, 255, 255);
$secondary-color: rgb(255, 230, 0);
$mobile: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$background-image: linear-gradient(
  to right,
  rgb(242, 153, 74),
  rgb(242, 201, 76)
);
.header {
  width: 100vw;
  height: 10vh;
  //   background-color: blue;
  display: flex;
  justify-content: center;
  background-image: $background-image;
  border-bottom: 2px solid $secondary-color;

  link {
    text-decoration: none;
  }

  .nav-bar {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;

    :hover {
      color: $secondary-color;
      cursor: pointer;
      transform: scale(1.05);
    }

    .nav-item {
      list-style: none;
      text-decoration: none;
      font-size: 25px;
      margin: 20px;
      color: $prime-color;
      text-transform: capitalize;

      &:hover {
        color: $secondary-color;
        cursor: pointer;
      }

      @media #{$mobile} {
        font-size: 12px;
        margin: 10px;
      }
    }
  }

  .logo-container {
    text-decoration: none;

    width: 30%;

    .logo {
      // min-width: 10px;
      height: 100%;
      color: $secondary-color;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-img {
        height: 100%;
      }
    }
  }

  .nav-item-container {
    text-decoration: none;
  }

  .shop-icon-container {
    text-decoration: none;

    :hover {
      color: white;
      transform: scale(1.05);
    }
  }
}
