.menu-header {
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  margin-bottom: 5vh;

  .menu-header-button {
    background: transparent;
    color: white;
    border: 1px solid tomato;
    width: 60px;
    text-decoration: none;
  }
}
