.menu-nav-bar {
  width: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

  .category {
    background-color: red;
    width: 50px;
    border: none;
    color: white;

    &:hover {
      cursor: pointer;
      text-decoration: white underline;
    }
  }
}
