$prime-color: rgb(255, 255, 255);
$secondary-color: rgb(255, 230, 0);
$mobile: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.menu-item {
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 1px solid white;
  position: relative;

  @media #{$mobile} {
    height: 120px;
    width: 200px;
    margin-bottom: 5px;
  }

  &:hover {
    .add-button {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .menu-item-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .menu-item-description {
    display: flex;
    justify-content: space-evenly;
    color: $prime-color;
  }

  .menu-id-number {
    display: none;
  }

  .add-button {
    background-color: transparent;
    color: $prime-color;
    border: none;
    height: 30px;
    background-color: black;
    display: none;
  }
}
