.menu-item {
  height: 150px;
  width: 200px;
  display: flex;
  color: white;
  background-color: brown;

  .menu-item-image {
    height: 150px;
    width: 70%;
    background-position: center;
    background-size: contain;
  }

  .menu-item-description {
    height: 150px;
    font-size: 12px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}
