$prime-color: rgb(255, 255, 255);
$secondary-color: rgb(255, 230, 0);
$mobile: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";
.cart-overview {
  width: 60%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  //   align-items: flex-start;
  justify-content: space-around;
  color: $prime-color;

  @media #{$mobile} {
    width: 90%;
  }

  .cart-details {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .cart-detail {
    width: 20%;
    text-align: center;
  }
  .remove {
    width: 20%;
    // text-align: right;
  }
  .total-amount-to-pay {
    align-self: center;
    margin: 30px 30px;
  }

  .payment {
    align-self: center;
    margin-bottom: 5vh;
  }
  // .order-button {
  //   margin-top: 15px;
  //   background: $secondary-color;
  //   color: $prime-color;
  //   border: none;
  //   width: 150px;
  //   height: 50px;
  //   font-size: 20px;
  //   align-self: center;
  //   font-weight: bolder;
  //   border-radius: 10px;

  //   &:hover {
  //     cursor: pointer;
  //     transform: scale(1.1);
  //   }
}
