.menu {
  color: white;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
}
